body{
    background-color:#1e1e2f;
    font-family:Arial;
    color:white;
}

.container{
    width:400px;
    margin:auto;
    margin-top:100px;
}

.card{
    background:#2c2c3a;
    padding:25px;
    border-radius:10px;
}

input, select{
    width:100%;
    padding:8px;
    margin-top:5px;
    margin-bottom:15px;
}

button{
    background:#f5b400;
    border:none;
    padding:10px;
    width:100%;
    border-radius:5px;
}

button:hover{
    background:#ffcc00;
}
\